.root {
	-fx-background-color: #E0E9E9;
}

.vbox {
	-fx-background-color: #000000,
		linear-gradient(#656565 0%, #353535 0%, #151515 100%);
	-fx-border-color: #E0E9E9;
	-fx-text-fill: #2D3956;
}

.label {
	-fx-font-family: "Courier New", "Courier";
	-fx-font-style: normal; /* italic | normal */
	-fx-font-weight: bold; /* bold | normal */
	-fx-font-size: 18px;
	-fx-padding: 0;
}

.displayText {
	-fx-text-fill: rgb(0%, 0%, 100%);
	-fx-font-size: 24px;
}

.displayCursor {
	-fx-text-fill: #E47297;
	-fx-font-size: 28px;
}

.button1 {
	-fx-background-color: #616A7F,
		linear-gradient(#E7E7E7 0%, #616A7F 25%, #455372 100%),
		linear-gradient(#E0E9E9 0%, #E7E7E7 5%, #616A7F 50%, #455372 51%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button1:hover {
	-fx-background-color: #74A6BD,
		linear-gradient(#D4E7ED 0%, #7195A3 25%, #74A6BD 100%);
	-fx-background-insets : 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
	-fx-background-insets: 0 0 -1 0, 0, 1;
}

.button1:pressed {
	-fx-background-color: #CA278C,
		linear-gradient(#FFBAD2 0%, #E47297 25%, #CA278C 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button2 {
	-fx-background-color: #000044,
		linear-gradient(#888888 0%, #444444 50%, #333333 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button2:hover {
	-fx-background-color: #74A6BD,
		linear-gradient(#D4E7ED 0%, #7195A3 25%, #74A6BD 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button2:pressed {
	-fx-background-color: #CA278C,
		linear-gradient(#FFBAD2 0%, #E47297 25%, #CA278C 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button3 {
	-fx-background-color: #000000,
		linear-gradient(#9CB770 0%, #628B61 50%, #397249 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button3:hover {
	-fx-background-color: #74A6BD,
		linear-gradient(#D4E7ED 0%, #7195A3 25%, #74A6BD 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button3:pressed {
	-fx-background-color: #CA278C,
		linear-gradient(#FFBAD2 0%, #E47297 25%, #CA278C 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button4 {
	-fx-background-color: #AA0114,
		linear-gradient(#E47297 0%, #CA278C 50%, #9C1C6B 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button4:hover {
	-fx-background-color: #74A6BD,
		linear-gradient(#D4E7ED 0%, #7195A3 25%, #74A6BD 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.button4:pressed {
	-fx-background-color: #CA278C,
		linear-gradient(#FFBAD2 0%, #E47297 25%, #CA278C 100%);
	-fx-background-insets: 0 0 -1 0, 0, 1;
	-fx-background-radius: 5, 5, 4;
	-fx-padding: 7 30 7 30;
	-fx-font-family: "Helvetica";
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #E0E9E9;
}

.text-field {
	-fx-font-family: Courier;
	-fx-font-weight: bold;
	-fx-font-size: 14pt;
	-fx-text-fill: #E0E9E9;
}