.root {
		}


.vbox {
	-fx-background-color: #FFC3CE;
	-fx-border-color: #636563;
	-fx-text-fill: #6B824A;
	-fx-background-image: url("stopwatch.jpg");
	
}


.button {
	-fx-background-color: #636563;
	-fx-text-fill: #D6E3B5;
	-fx-border-color: #636563;
	
}

.text{
	-fx-text-fill: #6B824A;
}